body 
{
    background-image: url('./images/background.jpg');
    height: 100%;

    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
}

a.button 
{
    background-color: white;
    border: none;
    color: #1c87c9;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}

a.button:hover
{
    background-color: #1c87c9;
    color: white;
    box-shadow: 0 7px 10px 0 rgba(0,0,0,0.24), 0 7px 20px 0 rgba(0,0,0,0.19);
}

table 
{
    margin: 0;
    position: absolute;
    top: 42%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #053452;
    font-size: 20px;
}

tr 
{
    height: 30px;
}